body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#container {
    min-height: 80vh;
    min-width: 100vw;
}

#board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

.list-container {
    padding: 0;
    margin: 0;
}

.list {
    min-height: 10px;
    padding: 0;
    margin: 0;
    display: block;
    white-space: nowrap;    
}

.list-item {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid black;
    background-color: green;
}

.list-item:hover {
    opacity: 0.5;
}

.mine {
    background-color: red;
}

.flagged {
    background-color: grey;
}

.safe {
    background-color: whitesmoke;
}

.item-text {
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
}

#stats-container {
    /* padding-top: 50px; */
    padding: 0;
    margin: 0;
    text-align: center;
}

.stats {
    font-size: 1.25rem;
    display: inline-block;
    padding-left: 75px;
    padding-right: 75px;
}


/* too small */
@media only screen and (max-height: 468px) {
    #other {
        margin-top: 10vh;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .list-item {
        height: 4vmax;
        width: 4vmax;
    }

    .item-text {
        line-height: 4vmax;
    }
}

@media only screen and (max-width: 700px) {
    .list-item {
        height: 1.1rem;
        width: 1.1rem;
    }

    .item-text {
        line-height: 1.1rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
    .list-item {
        height: 1.3rem;
        width: 1.3rem;
    }

    .item-text {
        line-height: 1.3rem;
    }
} 

#won {
    color: green;
}

#lost {
    color: red;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opacity {
    opacity: .35;
}

.button-container {
    display: grid;
    justify-content: center;
    align-content: center;
}

#difficulty-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 20px;
}

.difficulty {
    display: inline-block;
}