body {
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
}

#board {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}

#inner-board {
    /* position: absolute; */
    height: 100%;
    width: 100%;
}

.list {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    padding: 0;
}

.list-item {
    display: inline-block;
    list-style-type: none;
}
